.projects{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F5EFEF;
    padding: 3rem 2rem
}

.projects img{
    width: 300px;
    border-radius: 5px;
    max-width: 350px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
}

.gitHub a{
    color: #D0021B;
    background-color: transparent;
    border: 1px solid #D0021B;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gitHub a:hover{
    color: #fff;
    background-color: #D0021B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  ,
.projects img:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.projects h3{
    color: #000;
}

.projects h2,
.projects P{
    color: #000;
}