.skills{
    padding: 0 10rem 5rem 10rem;
}

h2{
    text-align: center;
}

.loading,
.error {
    text-align: center;
    color: #fff;
}

@media (max-width: 768px){
    .skills{
        padding: 0 0.5rem 2rem 0.5rem;
    }
}