.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    background-color: #F5EFEF;
    border-bottom: 1px solid #D0021B;
  }

  .navbar h1{
    padding-left: 3.5rem;
  }
  
  .navbar-nav {
    list-style-type: none;
    display: flex;
    padding-top: 0.5rem;
  }
  
  .nav-item {
    margin-right: 2rem;
  }

  .nav-item a {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #D0021B;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    color: #D0021B;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .nav-item a:hover,
  .nav-item a:active {
    background-color: #D0021B;
    border-color: #D0021B;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }

    .navbar h1{
      padding-left: 0;
      text-align: center;
    }

    .navbar-nav {
      flex-direction: column;
      justify-content: center;
    }
    
    .nav-item {
      margin-top: 2rem;
      text-align: center;
    }
  }